.paginationBttns {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 40px;
}
  
.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #409915;
    color: #409915;
    cursor: pointer;
}
  
.paginationBttns a:hover {
    color: white;
    background-color: #409915;
}
  
.paginationActive a {
    color: white;
    background-color: #409915;
}
  
/* ipad */
@media (max-width:799px){
    .paginationBttns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* mobile */
@media (max-width:477px){
    
}