.cardLg-container {
    background-color: #fff;
    color: #000;
    width: 300px;
    padding-bottom: 30px;
    height: 60vh;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.cardLg-image-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
    text-align: start;
}
.cardLg-image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px 7px 0 0;
}
.cardLg-container-text{
    text-align: center;
}
